body{
  background-color: #2b2938;
}
#canvas-container {
  width: 100%;
  height: 100vh;
}
.mute-but{
  background-color: black;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;
}